.grid-boxes .col {
  border: 1px solid gray;
  padding: 40px;
  border-radius: 10px;
  /* height: 50px; */
  /* width: 50px; */
}
.home-section {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.silk-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  /* Prevent it from blocking clicks */
}

.z-1 {
  z-index: 1;
  position: relative;
}
.top-12 {
  margin-top: 45%;
}
@media screen and(max-width:480px) {
  /* .grid-boxes .col{

  } */
}
